///////////////////////// End Text Moving Animation
@import "../../styles/mixins";
@import "../../styles/variables";

@media screen and (min-width: 960px) {
  .end {
    @include font(1.4rem, $gray, 0.3rem);
    margin: 0;
    width: 500%;
    border-top: 2px solid $gray;
    border-bottom: 2px solid $gray;
    background-color: $gray;
    opacity: 0.3;
    display: flex;
    align-items: center;
  }
  .end p {
    animation: text 30s linear infinite;
    color: $gold;
    text-shadow: 0 0 6px $gray;
    padding: 1rem;
  }
  @keyframes text {
    to {
      transform: translateX(-25%);
    }
  }
  .end {
    position: fixed;
    bottom: 0;
  }
}
// ********** Media query for Tablets and Mobiles ***********
@media only screen and (max-width: 992px) and (min-width: 48px) {
  .end {
    display: none;
  }
}
