@import "../../styles/mixins";
@import "../../styles/variables";

// Media query for Desktop
@media screen and (min-width: 992px) {
  nav {
    @include size(100%, 10%);
    ul {
      @include useFlex(row, flex-end, center);
      display: flex;
      @include size(100%, 100%);
      li {
        margin-right: 3rem;
        list-style-type: none;
        .btn {
          @include font(1.4rem, $gray, 0.3rem);
          text-decoration: none;
          line-height: 2rem;
          margin-top: 0.8rem;
        }
      }
    }
  }
  .mobile-nav {
    display: none;
  }
  // Navigation Animation
.btn {
  position: relative;
  display: block;
  padding: 1.5rem 2rem;
  color: $gray;
  overflow: hidden;
  transition: 0.2s;
}
.btn:hover {
  color: $gold;
  background: #151515;
  box-shadow: 0 0 20px $gold, 0 0 80px $gold,
    0 0 160px $gold, 0 0 320px $gold;
  transition-delay: 1s;
}
.btn span {
  position: absolute;
  display: block;
}
.btn span:nth-child(1) {
  top: 0;
  transform: translateX(-115%);
  width: 100%;
  height: 4px;
  background: linear-gradient(90deg, transparent, $gold);
}
.btn:hover span:nth-child(1) {
  transform: translateX(100%);
  transition: 1s;
}
.btn span:nth-child(2) {
  right: 0;
  transform: translateY(-130%);
  width: 4px;
  height: 100%;
  background: linear-gradient(180deg, transparent, $gold);
}
.btn:hover span:nth-child(2) {
  transform: translateY(100%);
  transition: 1s 0.25s;
}
.btn span:nth-child(3) {
  bottom: 0;
  transform: translateX(100%);
  width: 100%;
  height: 4px;
  background: linear-gradient(270deg, transparent, $gold);
}
.btn:hover span:nth-child(3) {
  transform: translateX(-115%);
  transition: 1s 0.5s;
}
.btn span:nth-child(4) {
  left: 0;
  transform: translateY(100%);
  width: 4px;
  height: 100%;
  background: linear-gradient(360deg, transparent,$gold);
}
.btn:hover span:nth-child(4) {
  transform: translateY(-130%);
  transition: 1s 0.75s;
}

}
// ********** Media query for Tablets and Mobiles ***********
@media only screen and (max-width: 992px) and (min-width: 48px) {
  .mobile {
    li {
      list-style-type: none;
      margin: 1rem;

      .btn {
        @include font(0.9rem, $gold, 0.2rem);
        font-family: $font;
        text-decoration: none;
      }
    }
  }
  .Navbar {
    display: none;
  }
}
